.profile-flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: #E8EEFA;
    background-color: #E5E5E5;
    width: 375px;
    height: 695px;
    margin: auto;
    box-shadow: 0px 0px 15px 5px #001035;
    border-radius: 38px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-containers {
    width: 312px;
    height: 87px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    margin: 20px 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-containers h6, .profile-containers p{
    color: #17264D;
    margin-top: -5px !important;
    padding-left: 15px;
}

.profile-containers h6 {
    padding-top: 20px;
}

.profile-containers a {
    text-decoration: none;
}

.profile-arrow {
    width: 40px;
    height: auto;
    color: #17264D;
    font-weight: bold;
}

.profile-links {
    margin-top: 20px;
}

.profile-links:hover {
    -webkit-animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profile-links-icons {
    margin-top: 23px;
    margin-left: 40px;
}

.profile-link-last-icon {
    margin-top: 23px;
}

.main-pic {
    width: 360px;
    height: 304px !important;
    background-color: #17264D;
    border-radius: 16px;
}

.profile-deco {
    text-align: center;
}

.profile-deco img {
    margin-top: 10px;
    margin-left: 10px;
}

.edit-btn {
    background-color:#F6B291;
    padding: 2px 2px;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    margin-left: 280px;
    margin-top: -30px;
}

.edit-btn:hover {
    -webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

.edit-btn a {
    color: #17264D;
    text-decoration: none;
    font-weight: 500;
}

.edit-profile-size {
    width: 20px;
    height: auto;
    text-decoration: none;
}

/* ANIMACIONES */

@-webkit-keyframes text-pop-up-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }