.all-reminders-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 320px;
    background-color: #17264deb;
    border: 1px solid #17264D;
    border-radius: 7px;
    margin: 2px auto;
}

.reminder-title {
    color: #E8EEFA;
    padding-top: 10px;
}

.reminder-props {
    /* padding-top: 10px; */
    text-align: center;
    border: 1px solid wheat;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

.reminder-props p {
    padding-top: 6px;
    margin-left: -12px;
    color: #E8EEFA;
    text-align: center;
}