.all-reminders-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 320px;
    background-color: #17264deb;
    border: 1px solid #17264D;
    border-radius: 7px;
    margin: 2px auto;
}

.reminder-title {
    color: #E8EEFA;
    padding-top: 10px;
}

.reminder-props {
    /* padding-top: 10px; */
    text-align: center;
    border: 1px solid wheat;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

.reminder-props p {
    padding-top: 6px;
    margin-left: -12px;
    color: #E8EEFA;
    text-align: center;
}

.test5 {
    display: flex;  
    flex-direction: row;
    margin-left: 5px;
    margin-top: 5px; 
}

.edit-rem-btn {
    background-color: transparent;
    border-color: transparent;
    margin-right: -10px;
}

.delete-rem-btn {
    background-color: transparent;
    border-color: transparent;
}

.edit-icon-size {
    width: 25px;
    height: auto;
    color:  #E8EEFA;
}

.edit-icon-size:hover {
    width: 25px;
    height: auto;
    color:  #ffffff;
    -webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

.delete-icon-size {
    width: 25px;
    height: auto;
    color:  #E8EEFA;
}

.delete-icon-size:hover {
    width: 25px;
    height: auto;
    color:  #ffffff;    
    -webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

.modal-footer {
  background-color: #17264D;
}

.edit-animation {
  
}

/* ANIMACIONES */

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }