.calendar-flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: #E8EEFA;
    width: 360px;
    background-color: #ebebeb;
    margin-left: 100px;
    height: 456px !important; 
}

.calendar-main-info {
    overflow: scroll;
    min-height: 300px;
    background-color: #ebebeb;

}

.calendar-containers {
    width: 312px;
    height: 87px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    margin: 50px 22px;
}

.calendar-containers h6, .calendar-containers p{
    color: #17264D;
    margin-top: -5px !important;
    padding-left: 15px;
}

.calendar-containers h6 {
    padding-top: 20px;
}

.main-pic {
    width: 360px;
    height: 304px;
    background-color: #17264D;
    border-radius: 16px;
}

.calendar-deco {
    text-align: center;
    margin-top: -25px;
}

.calendar-position {
    margin: 20px 30px;
    border: 1px solid black;
}

.calendar-flex-btns {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}

.add-rem-flex {
    width: 270px;
    margin: auto;
    border-bottom: 1px solid #17264D;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-rem-flex h4 {
    color: #17264D;
}

.calendar-btn button {
    /* margin-top: 20px; */
    width: 30px;
    height: 30px;
    text-align: center;
    color: #FFFFFF !important;
    border: 1px solid  #F6B291;
    border-radius: 50px;
    background-color: #F6B291;
    font-weight: bold;
    font-size: small;
}

.calculate-imp-reminders-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.calendar-link {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #FFFFFF !important;
    border: 1px solid  #F6B291;
    border-radius: 38px;
    background-color: #F6B291;
    font-weight: bold;
    font-size: small;
    border: 2px solid  #F6B291;
    background-color: #ffffffb8;
}

.calendar-link a {
    margin-top: 20px;
    text-decoration: none;
    color: #F6B291;
}

.calendar-pic-position {
    margin-bottom: 10px;
}

.all-reminders-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 320px;
    background-color: #17264deb;
    border: 1px solid #17264D;
    border-radius: 7px;
    margin: 2px auto;
}

.reminder-title {
    color: #E8EEFA;
    padding-top: 10px;
}

.reminder-props {
    /* padding-top: 10px; */
    text-align: center;
    border: 1px solid wheat;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

.reminder-props p {
    padding-top: 6px;
    margin-left: -12px;
    color: #E8EEFA;
    text-align: center;
}