.routine-flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #E5E5E5;
    width: 375px;
    height: 695px;
    margin: auto;
    box-shadow: 0px 0px 15px 5px #001035;
    border-radius: 38px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-deco h4 {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.main-pic {
    color: #E8EEFA;
}

.routine-img-size {
    margin-top: -40px;
    margin-left: 35px;
}

.routine-img-size img {
    width: 300px;
    height: auto;
}

.create-period-rem {
    background-color: #444998;
    color: #E8EEFA;
    border: 1px solid #444998;
    border-radius: 10px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
}

.routine-containers {
    padding: 15px 15px;
    color: #17264D;
    width: 170px;
    height: 40px;
    border: 2px solid #F6B291;
    background-color: #fafafa;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    margin: 20px auto;
    text-align: center;
}

.routine-containers h5 {
    margin-top: -7px;
}

.contraceptive-create-containers {
    width: 312px;
    height: 115px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    margin: 10px 22px 20px;
    text-align: center;
}

.create-period-rem:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.contraceptive-create-containers h6 {
    padding-top: 23px;
    color: #17264D;
}

.routine-hr {
    margin-left: 15px;
    width: 317px;
    border-bottom: 1px solid #17264D;
}

/* ANIMATIONS */

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }