nav {
    width: 360px;
    height: 62px;
    border-radius: 16px;
    background-color: #F6B291;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

/* si estás en la página, se ve oscuro, si no lo estás, más clarito */
/* nav a {
    color: #5A6581;
    text-decoration: none;
    font-weight: 400;
} */
nav a {
    color: #17264D;
    text-decoration: none !important;
    font-weight: bold;
}