nav {
    width: 375px;
    height: 62px;
    border-radius: 16px;
    background-color: #F6B291;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

nav a {
    color: #17264D;
    text-decoration: none !important;
    font-weight: bold;
}

nav a:hover {
    color: #17264D;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.nav-icons {
    width: 22px;
    height: auto;
    color: #17264D;
}

.nav-icons:hover {
    color: #5A6581;
}

