.edit-profile-flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #E5E5E5;
    width: 375px;
    height: 695px;
    margin: auto;
    box-shadow: 0px 0px 15px 5px #001035;
    border-radius: 38px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.edit-main-pic {
    width: 375px;
    height: 200px;
    background-color: #17264D;
    border-radius: 16px;
}

.edit-main-pic h4 {
    margin-left: 50px;
    margin-top: 30px;
    color: #E8EEFA;
}

.edit-profile-form {
    padding: 10px;
    margin-top: 10px;
    overflow: scroll;
    height: 400px;
    margin-bottom: 5px;
}

.edit-profile-form input {
    border-radius: 10px;
}

.edit-profile-btn {
    color: #E8EEFA;
    background-color: #17264D;
    border: 1px solid #E8EEFA;
    border-radius: 10px;
    margin-bottom: 5px;
}
  
.edit-profile-btn:hover {
    background-color: #E8EEFA;
    color: #17264D;
    background-color: #E8EEFA;
}